* {
  font-family: sans-serif;
  font-size: 30px;
}
  
.bolded {
  font-weight: bold;
}

/* This class was created because the student would often click outside of the window when trying to select text to be 
   read by the screen reader. */
.left-space {
	margin-left: 10px;
}

/* imageWrapper is used for the div that has overlaying map images. */
.imageWrapper {
	position: relative;
	height: 811px;
	width: 1093px;
}

/* overlayImage is applied to images that are overlaying and in a div with the imageWrapper class. */
.overlayImage {
  position: absolute;
  top: 0;
}