#workspace {
  position: relative;
}

.overlayText {
  position: absolute;
  font-family: sans-serif;
  top: 0px;
  left: 10px;
  margin: 0px;
}

#controlArea {
  border: black solid 3px;
}

#selectedPInfo {
  border: black solid 3px;
}

#elementInfo {
  border: black solid 3px;
}

.italic {
  font-style: italic;
}

.bolded {
  font-weight: bold;
}

.blurred {
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

